body {
    background-color: black;
}
.maincontainer {
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 7% 10% 40% 43%;
    background-color: slategray;
    border-radius: 21px;
}
.sbutton {
    width: 75px;
    height: 25px; 
    border-radius: 15px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: fantasy;
    margin-top: 2px;
}
.sbutton:hover {
    border: 0 0 2px lime;
    box-shadow: 0 0 9px lime;
}
#creator {
    padding-top: 35px;
}
.projgrids {
    display: inline-grid;
    grid-template-columns: 10% 10% 10% auto;   
}
.proje {
    display: grid;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10px;
    font-weight: bold;
}
.img1 {
    max-width: 25px;
    max-height: 25px;
}
.img2 {
    max-width: 75px;
    max-height: 75px;
}
.img3 {
    max-width: 21px;
    max-height: 21px;
}
.projgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 8% auto auto;
    gap: 2rem;
    margin: 2px 2rem 2rem 2rem;
}
.item {
    display: grid;
    max-height: fit-content;
}
#dash {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 15px;
    align-content: start;
    border-right: 2px solid black;
    background-color: yellow;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}
#user {
    display: grid;
    grid-template-columns: 15% auto;
    padding: 10px;
    background-color: slategrey;
    border-top-right-radius: 21px;
}
#projects {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: black;
    color: white;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}
#search {
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
    padding: 10px;
    padding-right: 190px;
    background-color: slategray;
}
.search {
    width: 60rem;
    text-align: center;
    height: 25px;
    border-radius: 21px;
}
.search:hover {
    border: 0 0 2px lime;
    box-shadow: 0 0 9px lime;
}
#announce, #trend {
    display: grid;
    gap: 2px;
    padding: 10px;
    padding-bottom: 30px;
}
#trend {
    background-color: yellow;
    border-radius: 21px;
}
.an {
    border-bottom:4px solid black ;
    width: 14rem;
    padding: 10px;
    background-color: white;
    border-radius: 21px;
}
#an, .tproj  {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.acleared {
    text-decoration: none;
}
.acleared:hover {
    text-shadow: 0 0 3px lime;
}
.cleared {
    text-decoration: none;
}
.cleared:hover {
    text-shadow: 0 0 3px lime;
    text-decoration: underline;
}
.cleared:active, .cleared:visited, .acleared:visited, .acleared:active {
    color: black;
}
.swap:active, .swap:visited {
    color: white;
}
.swap:hover {
    text-shadow: 0 0 3px lime;
    text-decoration: underline;
}
.submit {
    border: 1px solid black;
    border-radius: 21px;
}
#userbutt {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: center;
    gap: 14px;
    background-color: slategray;
}
.new, .upload, .share {
    width: 75px;
    height: 25px;
    border-radius: 15px;
    font-family: fantasy;
    font-weight: bold;
}
.new {
    color: midnightblue;
    background-color: lime;
    font-size: 14px;
}
.new:hover {
    box-shadow: 0 0 7px green;
    background-color: aqua;
    border-color: green;
}
.upload {
    color: darkgreen;
    background-color: aqua;
    font-size: 14px;
}
.upload:hover {
    box-shadow: 0 0 9px aqua;
    background-color: lime;
    border-color: aqua;
}
.share {
    color: black;
    background-color: yellow;
    font-size: 14px;
}
.share:hover {
    box-shadow: 0 0 7px black;
    background-color: white;
    border-color: grey;
}
.user-name:hover {
    text-shadow: 0 0 3px lime;
}
.user-name {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35px;
    text-decoration: none;
}
.user-name:visited, .user-name:active {
    color: black;
}
#un {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;;
    padding-left: 8rem;
    background-color: slategray;
}
.username {
    font-size: 32px;
    font-weight: bold;
}
.proj, .projview {
    display: grid;
    align-content: center;
}
.projview {
    display: grid;
    justify-content: center;
    border-radius: 21px;
    background-color: aliceblue;
    box-shadow: 5px 0 9px yellow;
    color: black;
}
#p {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 24px;
    align-content: center;
    padding-left: 45px;
}
.d {
    display: inline-grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}
.swap {
    text-decoration: none;
    font-size: 16px;
}
.icon {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3px;
}